h1{
    background: linear-gradient(to right, #e32f2f, #e3c716, #96e789 );
}
*{
    margin: 0;
    padding: 0
}
.cabecalho{
background-color: black;
padding: 1.5;
}
.cabecalho2{
background-color: rgb(12, 12, 12);
padding: 1.5;
}